.invisible {
  display: none;
}
button {
  color: white;
  background-color: #17180a;
  display: flex;
  gap: 12px;
  margin: 12px;
  width: 20%;
  border-radius: 20px;
}

.huge {
  color: #17180a;
  font-size: 12 rem;
  color: red;
}
div {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #f2d368;
}
h2 {
  color: #80852159;
}
button:hover {
  background-color: #f28907;
}
body {
  border: 2px solid #f2880765;
  width: 50%;
  margin-left: 25%;
  padding: 8px;
}
