.invisible {
  display: none;
}
button {
  color: white;
  background-color: #f28907;
  display: flex;
  gap: 12px;
  margin: 12px;
  width: 20%;
  border-radius: 20px;
}

.huge {
  color: #17180a;
  font-size: 12 rem;
  color: red;
}
div {
  display: flex;
  flex-direction: column;
  background-color: #6887f2;
}
h1 {
  color: #f2d468b0;
}
h2 {
  color: #80852159;
}

body {
  border: 2px solid #f2880765;
  width: 50%;
  margin-left: 25%;
  padding: 8px;
}
.pressed {
  background-color: aquamarine;
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
button:hover {
  background-color: #17180a;
}
